* {
  font-family: "Montserrat", sans-serif;
}

body {
  background: url("../assets/wallpaper.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.team-heading {
  background-color: rgba(94, 100, 114, 0.7);
  color: white;
  /* background-color: transparent; */
}

h1 {
  /* font-weight: 700; */
  font-size: 60pt;
}

h2 {
  font-weight: 600;
  font-style: italic;
}

.card {
  border: 2px outset;
}

.employee-card {
  margin: 10px;
  box-shadow: 6px 16px 22px -8px rgba(0, 0, 0, 0.75);
}

.manager-header {
  background-color: #faf3dd;
}

.engineer-header {
  background-color: #b8f2e6;
}

.intern-header {
  background-color: #aed9e0;
}
